<h1 *ngIf="!cashboxExists">You do not have an active cashbox<br>In Order to create one press here</h1>
<button *ngIf="!cashboxExists" mat-raised-button style="margin-left:45%; width:10%" (click)="CreateCashbox()">Create
    Casbox</button>
<div *ngIf="cashboxExists">
    <mat-card>
        <mat-card-content style=" font: bold 20px;">
            Amount: {{amount}}
            <br>
            Percentages: {{per}}%
            <br>
            valid until: {{dur | date:'medium'}}
        </mat-card-content>
    </mat-card>
    <br><br>
    <button mat-raised-button color="primary" (click)="closeCashBox()">close cashbox and put money in the account</button><br><br>
    <button mat-raised-button color="primary" routerLink="/accountDetails/{{accountId}}">return to personal details page</button>
</div>