<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h2>Create new transaction</h2>
        <mat-form-field>
            <input matInput type="number" placeholder="To account" [(ngModel)]="accountIdTo" name="accountTo" required>
            <mat-error>
              Please provide a valid account Id
            </mat-error>
          </mat-form-field>
          <br>
        <mat-form-field>
          <input matInput type="number" max="1000000" placeholder="Amount" [(ngModel)]="amount" name="amount" required>
          <mat-error>
            Please provide a valid amount
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Transfer</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div *ngIf="transferSuccess && tryTransfer">
    <h3>The transfer was done successfully</h3>
  </div>
  <div *ngIf="!transferSuccess && tryTransfer">
    <h3>The transfer did not work, please try again.</h3>
  </div>
  <br>
  <button mat-raised-button color="primary"  [routerLink]="['/accountDetails',accountIdFrom]">return to personal details page</button>
