<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Create new transaction</h2>
        <mat-form-field>
            <input matInput type="number" placeholder="to account" [(ngModel)]="accountIdTo" name="accountTo" required>
            <mat-error>
              Please provide a valid account Id
            </mat-error>
          </mat-form-field>
        <mat-form-field>
          <input matInput type="number" max="1000000" placeholder="Amount" [(ngModel)]="amount" name="amount" required>
          <mat-error>
            Please provide a valid amount
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Transfer</button>
      </form>
    </mat-card-content>
  </mat-card>
