<br>
<h1>Account Details</h1>
<mat-card>
    <mat-card-content style=" font: bold 20px;">
        Name: {{firstName}} {{lastName}}
        <br>
        Balance: {{balance}}
    </mat-card-content>
  </mat-card>
  <br>
  <button mat-raised-button style="margin-left:45%; width:10%" (click)="routeTocreateTransaction()">Deliver Money</button> <br><br>
  <button mat-raised-button style="margin-left:42.5%; width: 15%;"(click)="routeToHistory()">View action history</button>

<!-- <router-outlet></router-outlet> -->
