
 mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    padding: 20px;
}
h1{
    text-align: center;
    margin: auto;
}
button{
    float:right;
    margin-bottom: 30px;
    width: 150px;
}
mat-card-content{
    font-size: 20px;
    font-weight: bold;
}

mat-sidenav-container{
    height: 250px;
} 
mat-sidenav-content{
    margin-top: 50px;
}
#page_details{
    display: flex;
    flex-direction: row;
}